{% load static %}
<!-- Scripts for base template -->

<!-- Tabler  -->
<script src="{% static 'tabler/dist/js/tabler.min.js' %}"></script>


<!-- jQuery -->
<script src="{% static 'jquery/jquery-3.7.0.min.js' %}"></script> 

<!-- DataTables -->
<script
  type="text/javascript"
  src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"
></script>

<!-- Charts -->
<script
  src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/libs/apexcharts/dist/apexcharts.min.js"
  defer
></script>


<!-- Dark mode-->
<script src="{% static 'general/js/dark_mode.js' %}"></script> 